{% extends "layout.html" %}
{% block main %}
    <p class = "larger">Welcome to <font class = "bluify">Schedule<font class = "redify">X <font color = "black"></p>
    <p class = "larger">Keeping track of cases is easier than ever!</p>
    
    <ol class = "larger">

    <img class = "imagesmallcentre" src = "/static/creative.png" alt = "Creative picture">
     
    <li>Enter the name of the case under the appropriate head. Make sure to avoid typos</li>
    
    <img class = "imagesmallcentre" src = "/static/strategy.png" alt = "Strategy picture">
    
    <li>Enter the expected/quoted/received fee for that particular case.</li>
    
    <img class = "imagesmallcentre" src = "/static/planner.jpg" alt = "Planner picture">

    <li>Click Submit</li>
    
    <img class = "imagesmallcentre" src = "/static/success.jpg" alt = "Success picture">
    
    <li>Click on Additional Insights to analyze your inputs.</li>
    
    </ol>
{% endblock %}


